.footer{
  height: 80px;
  background-color: $nav-bg-color;
  p{
    @include outer-container;
    padding: 10px 1.8%;
    padding-top: 25px;
    font-size: 1.05em;
    color: #888;
    text-align: center;
  }
}
