$nav-bg-color: #333;

.top-nav{
  ul{
    @include outer-container;
  }

  margin: 0;
  padding: 0;
  background-color: $nav-bg-color;
  height: 54px;
}

ul{
  text-decoration: none;
  padding: 0;
  margin: 0;
  list-style: none;
}

li{
  display: inline-block;
  padding: 10px;
}

a{
  font-size: 1.5em;
  display: block;
  text-decoration: none;
}

.logo{
  font-weight: bold;
}

.refresh-content{
  float: right;
}
