$nav-bg-color: #333;

.menu-container{
  padding: 0 0% 0 6%;
  background-color: #333;
  display: none;
  width: 100%;
  overflow: hidden;

  a.logo{
    margin: 0.2em 0.6em 0.6em 0.2em;
    padding-right: 50px;
    font-weight: bold;
  }
  a.right{
    margin: 0 10% 0 0;
    float: right;
  }
  a.left{
    float: left;
  }

}
.top-nav{
  background-color: $nav-bg-color;
  margin: 0;
  height: 54px;

  ul{
    max-height: 54px;
    padding: 0 0 0 0;
    text-decoration: none;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .icon{
    padding: 10px 10px 10px 10px;
    max-height: 46px;
    max-width: 46px;
  }
}

li{
  display: inline-block;
  background-color: $nav-bg-color;
  padding: 10px;
}

a{
  font-size: 1.5em;
  display: block;
  text-decoration: none;
}

.logo{
  font-weight: bold;
}

.refresh-content{
  float: right;
}

@media only screen and ( max-width: 40em ) /* 640 */
{
    #nav
    {
      .menu-container{
        display: block;
      }
    }
        #nav > a
        {
        }
        #nav:not( :target ) > a:first-of-type,
        #nav:target > a:last-of-type
        {
            display: block;
        }

    /* first level */

    #nav > ul
    {
        height: auto;
        display: block;
        position: absolute;
        left: 0;
        right: 0;
    }
        #nav:target > ul
        {
            display: block;
        }
        #nav > ul > li
        {
            width: 100%;
            float: none;
            border-top: 1px solid #444;
        }

    /* second level */

    #nav li ul
    {
        position: static;
    }
}
