@import 'bourbon/bourbon';
@import 'base/base';
@import 'neat/neat';
@import 'shared/_header';
@import 'shared/_footer';
@import 'shared/_flash';

$nav-bg-color: #EAEBEC;

.main-body{
  @include outer-container;
}

body{
  margin: 0;
  padding: 0;
}

.local{
  margin: 10px;
  font-size: 1.2em;
  background: tint(red, 93%);

}

.remote{
  margin: 10px;
  font-size: 1.2em;
  background: tint(blue, 93%);
}

.result{
  margin: 10px;
  font-size: 1.2em;
  background: tint(green, 93%);
}

