@import 'bourbon/bourbon';
@import 'base/base';
@import 'neat/neat';
@import 'shared/_header';
@import 'shared/_footer';
@import 'shared/_flash';

$nav-bg-color: #eee;

.main-body-outer{
  background-color: #eee;
}

.main-body{
  @include outer-container;
}

body{
  margin: 0;
  padding: 0;
  background-color: $nav-bg-color;
}

.local{
  margin: 10px;
  font-size: 1.2em;

}

.remote{
  margin: 10px;
  font-size: 1.2em;
}

.result{
  margin: 10px;
  font-size: 1.2em;
  background: tint(green, 93%);
}

.about-body{
  min-height: 500px;
}

