<nav id="nav" class="top-nav" role="navigation">
<div id="forceright">
  <a href="#nav" title="Show navigation"> <img class="icon" src="menu.png"></a>
</div>
  <a href="#" title="Hide navigation"><img class="icon" src="menu.png" href="#nav"></a>
    <ul>
      <li> {{link-to 'Home' 'application'}} </li>
      <li> {{link-to 'About' 'about'}} </li>
      <li> {{link-to '日本語' 'application' }} </li>
    </ul>
</nav>
