<div class="main-body-outer">
  <div class="main-body">
    <div class="about-body">
      <br/>
      <h2>About ZONEConvert</h2>
      <br/>
      <p> The purpose of this site is to convert a date/time in a remote location to your local date/time.  It's built using a sinatra backend that fetches data from the Google Maps API, and Ember.js for the front end. </p>
      <h3> Some use cases for the app: </h3>
      <br/>
      <p>1) Find out what time an event that's occurring in another country will be happening in your local time.</p>
      <p>2) Coordinate with friends and family living in other countries for skype calls etc. without having to worry about time zone differences or daylight savings time.
      <p>3) There are probably many more uses, so if you come up with one let me know!
      <h3> Feedback/contributing </h3>
      <br/>
      <p>Do you have some feedback or an awesome idea to extend the functionality of ZONEConvert?  If so, see the Github repository:</p>
      <a href="http://www.github.com/etdev/zones.git"> Github </a>
    </div>
  </div>
</div>
